body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./pages/images/back.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.routing {
  text-align: center;
}
/* Navbar Styles */

*{
  box-sizing: border-box;
}

.nav{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0rem 1rem;
}

.nav ul {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  margin: 0;
  list-style: none;
}

.nav a{
  color: inherit;
  text-decoration: none;
}

.nav li.active {
  background-color: black;
}

.nav li:hover {
  background-color: tomato;
}
/* HomePage Styles */
.home-background-overlay {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./pages/images/back.jpg');
}
.front-text {
  position: absolute;
  color: white;
}
.home-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.7rem 1.8rem;
  margin: 0.3rem;
  text-align: center;
  text-decoration: none;
  font-size: normal;
  cursor: pointer;
}
/* LoginPage Styles */
.login-parent {
  background-color: black;
  margin: 9% auto;
  width: 20rem;
  padding: 2rem;
  color: aliceblue;
  display: inline-block;

}
.logo {
  width: 5rem;
}
.submit{
  border: none;
  color: black;
  padding: 0.3rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: normal;
  cursor: pointer;
}
/* AboutPage Styles */
.aboutpage {
  background-color: #4CAF50;
}